.sys-system {background:url("../images/sys-system.png") -16px -0px; width: 16px; height: 16px; }
.sys-system-user {background:url("../images/sys-system-user.png") -16px -0px; width: 16px; height: 16px; }
.sys-system-role {background:url("../images/sys-system-role.png") -16px -0px; width: 16px; height: 16px; }
.sys-system-func {background:url("../images/sys-system-func.png") -16px -0px; width: 16px; height: 16px; }
.sys-system-dict {background:url("../images/sys-system-dict.png") -16px -0px; width: 16px; height: 16px; }
.sys-system-log {background:url("../images/sys-system-log.png") -16px -0px; width: 16px; height: 16px; }
.sys-system-conf {background:url("../images/sys-system-conf.png") -16px -0px; width: 16px; height: 16px; }
.sys-system-folder {background:url("../images/folder.png") -16px -0px; width: 16px; height: 16px; }
.sys-message-format {background:url("../images/sys-message-format.png") -16px -0px; width: 16px; height: 16px; }
.sys-message-datatype {background:url("../images/sys-message-datatype.png") -16px -0px; width: 16px; height: 16px; }
.sys-message-charset {background:url("../images/sys-message-charset.png") -16px -0px; width: 16px; height: 16px; }
.sys-message-field {background:url("../images/sys-message-field.png") -16px -0px; width: 16px; height: 16px; }
.sys-message-head {background:url("../images/sys-message-head.png") -16px -0px; width: 16px; height: 16px; }
.sys-message-body {background:url("../images/sys-message-body.png") -16px -0px; width: 16px; height: 16px; }
.sys-message-schema {background:url("../images/sys-message-schema.png") -16px -0px; width: 16px; height: 16px; }
.sys-sim-system {background:url("../images/sys-sim-system.png") -16px -0px; width: 16px; height: 16px; }
.sys-sim-xml {background:url("../images/sys-sim-xml.png") -16px -0px; width: 16px; height: 16px; }
.sys-sim-self {background:url("../images/sys-sim-self.png") -16px -0px; width: 16px; height: 16px; }
.sys-sim-instance {background:url("../images/sys-sim-instance.png") -16px -0px; width: 16px; height: 16px; }
.sys-test-proj {background:url("../images/sys-test-proj.png") -16px -0px; width: 16px; height: 16px; }
.sys-test-task {background:url("../images/sys-test-task.png") -16px -0px; width: 16px; height: 16px; }
.sys-test-search {background:url("../images/sys-test-search.png") -16px -0px; width: 16px; height: 16px; }
.sys-simulation-exec {background:url("../images/sys-simulation-exec.png") -16px -0px; width: 16px; height: 16px; }
.sys-simulation-manage {background:url("../images/sys-simulation-manage.png") -16px -0px; width: 16px; height: 16px; }
.sys-automation-issue  {background:url("../images/sys-automation-issue.png") -16px -0px; width: 16px; height: 16px; }
.sys-automation-exec  {background:url("../images/sys-automation-exec.png") -16px -0px; width: 16px; height: 16px; }
.sys-automation-result  {background:url("../images/sys-automation-result.png") -16px -0px; width: 16px; height: 16px; }
.sys-automation-manage  {background:url("../images/sys-automation-manage.png") -16px -0px; width: 16px; height: 16px; }
.sys-message {background:url("../images/sys-message-format.png") -16px -0px; width: 16px; height: 16px; }
.sys-test {background:url("../images/sys-test-proj.png") -16px -0px; width: 16px; height: 16px; }
.sys-sim {background:url("../images/sys-sim-system.png") -16px -0px; width: 16px; height: 16px; }
.sys-automation {background:url("../images/sys-automation-manage.png") -16px -0px; width: 16px; height: 16px; }
.sys-simulation {background:url("../images/sys-simulation-manage.png") -16px -0px; width: 16px; height: 16px; }
.sys-ecds {background:url("../images/sys-ecds.png") -16px -0px; width: 16px; height: 16px; }
.sys-system-backup {background:url("../images/sys-system-backup.png") -16px -0px; width: 16px; height: 16px; }
.sys-test-statistics {background:url("../images/sys-test-statistics.png") -16px -0px; width: 16px; height: 16px; }
.sys_product_extract {background:url("../images/sys_product_extract.png") -16px -0px; width: 16px; height: 16px; }
.sys_product {background:url("../images/sys_product.png") -16px -0px; width: 16px; height: 16px; }
.sys_product_log {background:url("../images/sys_product_log.png") -16px -0px; width: 16px; height: 16px; }
.sys_product_send {background:url("../images/sys_product_send.png") -16px -0px; width: 16px; height: 16px; }
.sys_auto_help {background:url("../images/sys_auto_help.png") -16px -0px; width: 16px; height: 16px; }
.sys_ecds {background:url("../images/sys_ecds.png") -16px -0px; width: 16px; height: 16px; }
.sys_ecds_034 {background:url("../images/sys_ecds_034.png") -16px -0px; width: 16px; height: 16px; }
.sys_ecds_customer {background:url("../images/sys_ecds_customer.png") -16px -0px; width: 16px; height: 16px; }
.sys_ecds_draft_info {background:url("../images/sys_ecds_draft_info.png") -16px -0px; width: 16px; height: 16px; }
.sys_ecds_msgs_send {background:url("../images/sys_ecds_msgs_send.png") -16px -0px; width: 16px; height: 16px; }
.sys_ecds_msg_history {background:url("../images/sys_ecds_msg_history.png") -16px -0px; width: 16px; height: 16px; }